<?xml version="1.0"?>
<config>
     <redeal>
        <redeal_group>
            <redeal_select>
                <enabled>1</enabled>
            </redeal_select>
        </redeal_group>
    </redeal>
    <default>
        <redeal>
            <redeal_group>
             <section_two>1</section_two>
            </redeal_group>
        </redeal>
    </default>
	    <default>
        <redeal>
            <redeal_group>
             <section_one>1</section_one>
            </redeal_group>
        </redeal>
    </default>
    <modules>
        <Redeal_Referralmarketing>
            <version>1.0.2</version>
        </Redeal_Referralmarketing>
    </modules>
    <frontend>
        <routers>
            <referralmarketing>
                <use>standard</use>
                <args>
                    <module>Redeal_Referralmarketing</module>
                    <frontName>referralmarketing</frontName>
                </args>
            </referralmarketing>
        </routers>
        <layout>
            <updates>
                <referralmarketing>
                    <file>referralmarketing.xml</file>
                </referralmarketing>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <referralmarketing>
                <class>Redeal_Referralmarketing_Block</class>
            </referralmarketing>
            <checkout>
                <rewrite>
                    <onepage_success>Redeal_Referralmarketing_Block_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <referralmarketing>
                <class>Redeal_Referralmarketing_Helper</class>
            </referralmarketing>
        </helpers>
        <!-- <models>
             <referralmarketing>
                <class>Redeal_Referralmarketing_Model</class>
             </referralmarketing>
        </models> -->
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <redeal>
                                            <title>Redeal - All</title>
                                        </redeal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>